name: publish_helm_chart

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/chart.yaml"
      - "helm/**"

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
      - name: Publish Helm chart
        uses: stefanprodan/helm-gh-pages@v1.7.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          charts_dir: helm
          target_dir: charts
          linting: off